version: '3.8'

services:
  backend:
    image: ghcr.io/intuitem/ciso-assistant-community/backend:latest
    restart: always
    environment:
      ALLOWED_HOSTS: backend,localhost,${DOMAIN}
      CSRF_TRUSTED_ORIGINS: https://${DOMAIN}
      CISO_ASSISTANT_URL: https://${DOMAIN}
      DJANGO_DEBUG: 'False'
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DB_ENGINE: django.db.backends.postgresql
      POSTGRES_NAME: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DB_HOST: s8cssssoo4k8kc80ow4ocw88
      DB_PORT: '5432'
      AUTH_TOKEN_TTL: '7200'
      AUTH_TOKEN_AUTO_REFRESH: 'True'
      AUTH_TOKEN_AUTO_REFRESH_TTL: '36000'
      SECURE_PROXY_SSL_HEADER: HTTP_X_FORWARDED_PROTO,https
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ''
      EMAIL_HOST_PASSWORD: ''
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      EMAIL_USE_TLS: 'False'
      EMAIL_USE_SSL: 'False'
      CISO_SUPERUSER_EMAIL: ${CISO_SUPERUSER_EMAIL}
      LOG_LEVEL: INFO
      LOG_FORMAT: plain
    volumes:
      - huey_data:/code/db
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/health/ || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 180s

  huey:
    image: ghcr.io/intuitem/ciso-assistant-community/backend:latest
    restart: always
    depends_on:
      - backend
    environment:
      ALLOWED_HOSTS: backend,localhost,${DOMAIN}
      CSRF_TRUSTED_ORIGINS: https://${DOMAIN}
      CISO_ASSISTANT_URL: https://${DOMAIN}
      DJANGO_DEBUG: 'False'
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DB_ENGINE: django.db.backends.postgresql
      POSTGRES_NAME: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DB_HOST: s8cssssoo4k8kc80ow4ocw88
      DB_PORT: '5432'
      AUTH_TOKEN_TTL: '7200'
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_HOST_USER: ''
      EMAIL_HOST_PASSWORD: ''
      DEFAULT_FROM_EMAIL: ${DEFAULT_FROM_EMAIL}
      EMAIL_USE_TLS: 'False'
      EMAIL_USE_SSL: 'False'
      LOG_LEVEL: INFO
      LOG_FORMAT: plain
    volumes:
      - huey_data:/code/db
    command: sh -c "poetry run python manage.py run_huey -w 2 --scheduler-interval 60"

  frontend:
    image: ghcr.io/intuitem/ciso-assistant-community/frontend:latest
    restart: always
    depends_on:
      - backend
    environment:
      PUBLIC_BACKEND_API_URL: http://backend:8000/api
      PUBLIC_BACKEND_API_EXPOSED_URL: https://${DOMAIN}/api
      PROTOCOL_HEADER: x-forwarded-proto
      HOST_HEADER: x-forwarded-host
      ORIGIN: https://${DOMAIN}

volumes:
  huey_data:
